html,
body,
#keyboard {
	font-family: Helvetica, sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #1B1B1B;
	color: white;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#keyboard {
	max-height: 40em;
	max-width: 100%;
	height: 100%;
	flex: 1;
}
#keys {
	position: relative;
	height: calc(100% - 1.5em);
	overflow-x: auto;
	overflow-y: hidden;
}
#keyboard label {
	line-height: 1.5em;
	margin-left: 2px; /* = .key { margin-left } */
	margin-right: 2px; /* = .key { margin-right } */
}
#keyboard label:last-of-type {
	float: right;
}
#keyboard select,
#keyboard input {
	vertical-align: middle;
}
.key {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3em;
	height: calc(50% - 2px - 6px);
	margin: 2px;
	margin-bottom: 6px;
	background-color: white;
	background-clip: padding-box;
	color: black;
	border-radius: 2px;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: default;
	transition: transform 50ms ease, color 0.4s ease, opacity 0.4s ease;
	transition: transform 50ms ease, color 0.4s ease, opacity 0.4s ease, filter 0.4s ease;
	transition: transform 50ms ease, color 0.4s ease, opacity 0.4s ease, -webkit-filter 0.4s ease;
	opacity: 1;
	-webkit-filter: saturate(1);
	filter: saturate(1);
	box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
}
.key::before {
	content: "";
	position: absolute;
	background: inherit;
	border-radius: inherit;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
}
.key.playing {
	box-shadow: inset 0 0px rgba(0, 0, 0, 0.2);
	border-top: 12px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	height: calc(50% - 2px - 6px - 12px);
}
.key.playing::before {
	top: -6px;
}
/*.key.chroma-b {*/
/*	background: #111;*/
/*	color: gray;*/
/*}*/
.key.chroma-a {
	background-color: #F72626;
	color: #111;
}
.key.chroma-b {
	background-color: #FFC107;
	color: #795548;
}
.key.chroma-c {
	background-color: #fafafa;
	color: #111;
}

.key.lowlight {
	opacity: 0.5;
	-webkit-filter: saturate(0);
	filter: saturate(0);
}
.key.disabled {
	opacity: 0.3;
	color: transparent;
	cursor: default;
	box-shadow: inset 0 0 transparent;
}
