html,
body,
#keyboard {
	font-family: Helvetica, sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #1B1B1B;
	color: white;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#keyboard {
	max-height: 40em;
	max-width: 100%;
	height: 100%;
	flex: 1;
}
#keys {
	position: relative;
	height: calc(100% - 1.5em);
	overflow-x: auto;
	overflow-y: hidden;
}
#keyboard label {
	line-height: 1.5em;
	margin-left: 2px; /* = .key { margin-left } */
	margin-right: 2px; /* = .key { margin-right } */
}
#keyboard label:last-of-type {
	float: right;
}
#keyboard select,
#keyboard input {
	vertical-align: middle;
}
.key {
	width: 3em;
	height: calc(50% - 2px - 6px - 6px);
	margin: 2px;
	margin-bottom: 12px;
	background: transparent;
	color: transparent;
	border-radius: 2px;
	opacity: 1;
	-webkit-filter: saturate(1);
	filter: saturate(1);
}
#keys,
.key,
.key::before,
.key::after {
	cursor: default;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.key,
.key::before,
.key::after {
	transition: transform .1s ease, height .1s ease, box-shadow .1s ease, color 0.4s ease, opacity 0.4s ease;
	transition: transform .1s ease, height .1s ease, box-shadow .1s ease, color 0.4s ease, opacity 0.4s ease, filter 0.4s ease;
	transition: transform .1s ease, height .1s ease, box-shadow .1s ease, color 0.4s ease, opacity 0.4s ease, -webkit-filter 0.4s ease;
}
.key::before {
	content: "";
	position: absolute;
	background: inherit;
	box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
	border-radius: inherit;
	bottom: -6px;
	left: 0;
	right: 0;
	height: 12px;
}
.key::after {
	content: attr(data-note);
	position: absolute;
	background: inherit;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: inherit;
}
.key.playing::after {
	transform: translateY(6px);
}
.key.chroma-a::after,
.key.chroma-a::before {
	background-color: #F72626;
	color: #111;
}
.key.chroma-b::after,
.key.chroma-b::before {
	background-color: #fafafa;
	color: #111;
}
.key.chroma-c::after,
.key.chroma-c::before {
	/*background: #111;
	color: gray;*/
	background-color: #FFC107;
	color: #795548;
}

.key.lowlight {
	opacity: 0.5;
	-webkit-filter: saturate(0);
	filter: saturate(0);
}
.key.disabled {
	opacity: 0.3;
}
.key.disabled::after {
	color: transparent;
}
.key.disabled::before {
	box-shadow: inset 0 0 transparent;
}

@media (max-width: 75em) and (max-height: 55em), print {
	#fork-me-on-github {
		display: none;
	}
}

@media print {
	#keyboard label:last-of-type {
		display: none;
	}
	html,
	body,
	#keyboard {
		background: initial;
		color: initial;
	}
}
